{% extends 'base.html.twig' %}

{% block title %}Crear subastas{% endblock %}

{% block body %}
<h1>crear</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}